h1 {
    text-align: center;
    margin-bottom: 3rem;
}
.indexCardImage {
    height: 16rem;
    width: fit-content;
}
.manaCost {
    background: gray;
}
#W {
    background: white;
}
#U {
    background: blue;
}
#B {
    background: black;
}
#G {
    background: green;
}
#R {
    background: red;
}