h1 {
    text-align: center;
    margin-bottom: 3rem;
}

.myCarouselImage {
    position: absolute;
}

.myCarouselContainer{
    width: fit-content;
}

.indexCardImage {
    height: 16rem;
    width: fit-content;
    margin-left: 6rem;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -12rem;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
.next {
    right: 0;
}

.beforeDrop {
}
.cardDroping {
    animation: cardDrop 5s;
    display:block; 
    /* timing-function delay iteration-count direction fill-mode;  */
}
@keyframes cardDrop {
    from {
        display: block;
        transform: scale(6rem);
        opacity: 0%;
    }
    25% {
        transform: scale(4rem);
    }
    50% {
        transform: scale(2rem);
        opacity: 50%;
    }
    75% {
        transform: scale(1.5rem);
    }
    to {
        transform: scale(1rem);
        opacity: 100%;  
    }
    
}
.priceGraphContainer{
    margin-top: 20rem;
}